/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 20px;
    padding-left: 40px;
}

/* ==========================================================================
   Title Banner & Nav
   ========================================================================== */

.titleBlock {
    display: inline;
    padding: 0 0 0 32px;
}
.titleLogo {
    display: inline;
    width: 9vw;
    max-width: 100px;
}

.title {
    display: inline;
    width: 30vw;
    min-width: 220px;
}

.titleAnimated {
    display: inline;
    margin-left: -30vw;
    opacity: 1;


}

.titleAnimatedSVG {
    width: 30vw;
    min-width: 220px;
}

.mainNav {
    margin-top: -50px;
    margin-left: 145px;
    margin-bottom: 40px;
}

.navUl{
    list-style: none;
}
.navUl li {
    display: block;
}
.navImg {
    height: 75px;
}
.navLink {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: black;
    display: inline-block;
    margin:8px 0 0 18px;
}
.navLinkPlus {
    font-size: 15px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    padding: 60px 0;
}

address {
    padding-left: 20px;
    padding-top: 12px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

address a {
    color: black;
}

address h6{
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    margin-top: 0;
}

/* ==========================================================================
   Content
   ========================================================================== */

.subtitle{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    padding-bottom: 12px;
}

.contentRow {
    padding-bottom: 10px;
    line-height: 1.3;
    padding-right: 25px;
}

.itemRow {
    padding: 7px 0 7px 0;
}

.itemKey{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.itemValue {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
}

/* ==========================================================================
   Logo Animation
   ========================================================================== */

.text--transparent {
    fill: transparent;
}

.anim-shape {
    -webkit-transform-origin: 0x 150px;
    -ms-transform-origin: 0x 150px;
    transform-origin: 0x 150px;
    -webkit-transform: scale(0, 1) translate(0, 0);
    -ms-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0);
    -webkit-animation: moving-panel 0.3s infinite alternate;
    animation: moving-panel 0.3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
    fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
    fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
    fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
    fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
    fill: #F26444;
}
@-webkit-keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(0px, 0);
        transform: scale(1, 1) translate(0px, 0);
    }
}

@keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(0px, 0);
        transform: scale(1, 1) translate(0px, 0);
    }
}

/* ==========================================================================
   Images
   ========================================================================== */

.personal001, .personal002, .personal003, .personal004, .personal005,
.house, .houseAll, .property1, .property2, .property3, .property4, .property5, .property6, .property7,
.cash001, .cash002, .cash003,
.vehicle, .vehicleroad1, .vehicleroad2, .vehicleroad3

{
    position: absolute;
    z-index: -100000;
}

.houseAll{
    opacity: 0;
}

.personal001 {
    width: 40vw;
    top: -5vw;
    right: 3vw;
}

.personal003 {
    width: 10vw;
    top: 140vh;
    left: 14vw;
}

.personal004 {
    width: 12vw;
    top: 210vh;
    right: 16vw;
}

.personal005 {
    width: 10vw;
    top: 90vh;
    right: 16vw;
}

.house {
    top: 10vh;
    right: 14vw;
    width: 18vw;
}

.property1, .houseAll {
    top: 0px;
    left: 0px;
    width: 100%;
}

.property2 {
    width: 100%;
    top: 349px;
    left: 45px;

}

.property3 {
    width: 83%;
    top: 307px;
    left: 57px;

}

.property4 {
    width: 100%;
    top: 224px;
    left: 35px;

}

.property5 {
    width: 66.667%;
    top: 196px;
    left: 145px;
}

.property6 {
    width: 58.333%;
    top: 141px;
    left: 152px;
}

.property7 {
    width: 58.333%;
    top: 66px;
    left: 142px;
}

.cash001 {
    width: 32vw;
    top: 10vh;
    right: 6vw;
}

.cash002 {
    width: 24vw;
    top: 45vh;
    right: 7vw;
}

.cash003 {
    width: 24vw;
    top: 90vh;
    left: 7vw;
}

.vehicle {
    width: 3vw;
    top: 14vh;
    right: 19.6vw;
}

.vehicleroad1, .vehicleroad2, .vehicleroad3 {
    width: 5vw;

}

.vehicleroad1 {
    width: 13vw;
    top: 5vh;
    right: 10vw;
}

.vehicleroad2 {
    width: 21vw;
    top: 65vh;
    right: 10vw;
}


.vehicleroad3 {
    top: 120vh;
    left: 30vw;
}

/* ==========================================================================
   Animations
   ========================================================================== */

.navCatalog {
    cursor: pointer;
    z-index: 1;
}
.navPersonal, .navProperty, .navCompany, .navVehicle {
    opacity: 0;
    position: absolute;
    top: 300px;
    left: 145px;
    z-index: 0;
}

.navText, .navDownload {
    z-index: -1;
}

.personal001 {
    z-index: 100;
}

.personal001:hover {

    -webkit-animation: scale 3s ease infinite;

}

.personal001Enter {

    -webkit-animation: scale 5s ease 1;

}

.property1, .property2, .property3, .property4, .property5, .property6, .property7 {
    top: -500px;
}




@-webkit-keyframes scale {
    0% {
        shape-inside: circle(350px at center);
        -webkit-clip-path: circle(350px at center);
    }
    50% {
        shape-inside: circle(150px at center);
        -webkit-clip-path: circle(150px at center);
    }
    100% {
        shape-inside: circle(350px at center);
        -webkit-clip-path: circle(350px at center);
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .titleLogo, .titleAnimated, .personal003,
    .property1, .property2, .property3, .property4, .property5, .property6, .property7{
        display: none;
    }
    .houseAll{
        opacity: 1;
    }
    body {
        padding-top: 10px;
        padding-left: 10px;
    }
    .personal001 {
        width: 30vw;
    }

}

@media only screen and (max-width : 568px) {

    body {
        padding-top: 0;
        margin: 0;
    }
    .personal001 {
        width: 20vw;
    }

    .personal003 {

    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
