<footer>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-4">
            <div class="row visible-lg">
                <div class="col-lg-2">
                    <a href="#">
                        <img src="assets/img/back.svg" class='navImg'/>
                        <br/>
                        <span class="navLink navBack">Back</span>
                    </a>
                </div>
                <div class="col-lg-2">
                    <img src="assets/img/contact.svg" class='navImg'/>
                    <br/>
                    <span class="navLink">Contact</span>
                </div>
                <div class="col-lg-4">
                    <address>
                        <h6>Producer Leena Närekangas</h6>
                        <h6>Aalto Media Factory</h6>
                        <a href="tel:++3580503427114">050-342-7114</a><br/>
                        <a href="mailto:leena.narekangas@aalto.fi">leena.narekangas@aalto.fi</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>