<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu">
            <li ui-sref-active="active">
                <a href="#" ng-click="isCatalogOpen = !isCatalogOpen" ng-init="isCatalogOpen = false">Catalog</a>
                <ul ng-show="isCatalogOpen">
                    <li ui-sref-active="active">
                        <a ui-sref="index.personalData">personalData</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="index.property">property</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="index.company">company</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="index.vehicle">vehicle</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.textAdjustment">Text Adjustment</a>
            </li>
            <li ui-sref-active="active">
                <a href="assets/pdf/download.pdf">Download</a>
            </li>
        </ul>
    </div>
</nav>